body {
    font-size: 24px;
}
p.red {
    color: red;
}
p.green {
    color: green;
}
ul li.green {
    color: green;
}
ul ol li.red {
    color: red;
}
ul ol li.blue {
    color: blue;
}
p.italic {
    font-weight: italic;
}
p.bold {
    font-style: bold;
}